--extra-index-url https://download.pytorch.org/whl/cpu

Django==5.2.12
gunicorn

numpy==1.26.4
pillow==10.3.0

scipy==1.11.4
scikit-image==0.22.0
imageio==2.34.0

matplotlib==3.8.4
pandas==2.2.2

torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

torchxrayvision==1.4.0